            <div class="section text-gray" id="footer">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-6">

                            <!-- <p class="social">
                                <a href="mailto:julian.mcginnis@tum.de" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            </p> -->
                        </div>
                        <!-- /.6 -->
                      
                        <div class="col-sm-6">
                            <p><small>&copy; 2020 <a href="http://inr4miccai.github.io" class="external">INR4MICCAI</a>.
                            Template by <a href=" visualdialog.org" class="external"> visualdialog.org</a>.</small></p>
                        </div>

                    </div>

                </div>
            </div>
