<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="miccai, workshop, computer vision, deep learning, machine learning, neural fields, implicit neural representation, siren, nerf">

  <link rel="shortcut icon" href="{{ "/static/img/miccai_final.png" | prepend:site.baseurl }}">



  <title>{{ page.urltitle }}</title>
  <meta name="description" content="{{site.description}}">

  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="New Frontiers for Learning with Limited Labels or Data"/>
  <meta property="og:url" content="https://inr4miccai.github.io/"/>
  <meta property="og:description" content="{{site.description}}"/>
  <meta property="og:site_name" content="Implicit Neural Representations for Medical Imaging"/>
  <meta property="og:image" content="/static/img/miccai_final.png"/>
  <meta property="og:image:url" content="https://github.com/INR4MICCAI/inr4miccai.github.io/blob/main/static/img/miccai_final.png"/>

  <!--Twitter Card Stuff-->
  <meta name="twitter:title" content="New Frontiers for Learning with Limited Labels or Data"/>
  <meta name="twitter:image" content="https://github.com/INR4MICCAI/inr4miccai.github.io/blob/main/static/img/miccai_final.png">
  <meta name="twitter:url" content="https://inr4miccai.github.io/"/>
  <meta name="twitter:description" content="{{site.description}}"/>

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/main.css?1" | prepend:site.baseurl }}" media="screen,projection">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ff6e9b10da.js" crossorigin="anonymous"></script>
</head>
